<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c828746-7247-4f01-af75-f4b1bfe1399a" Alias="01.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="01.svg (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wq3cbds2/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>