<?xml version="1.0" encoding="utf-8"?>
<Media Key="df24de67-9ff0-48fd-ab2e-68d22fc388b8" Alias="01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:35</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/svrjmppl/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>