<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac6ac512-f76e-47fd-a528-1a3129ae3fd5" Alias="03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2b2mqttv/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>