<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cad34f3-470a-4912-97ba-3c2d3f50c727" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:53</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ageb41qr/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>