<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2149e94-c4d2-490a-ad1c-a1a0f2e444ed" Alias="Aaron Lambert.svg" Level="2">
  <Info>
    <Parent Key="dbbf3f1e-9d01-47d9-b2ed-ba4fa65dd796">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T20:20:11</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/myrlmegj/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>