<?xml version="1.0" encoding="utf-8"?>
<Media Key="f09b8476-5933-450b-b3c9-5b775f3d6c2d" Alias="AJCarter.svg" Level="2">
  <Info>
    <Parent Key="dbbf3f1e-9d01-47d9-b2ed-ba4fa65dd796">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T20:20:11</CreateDate>
    <NodeName Default="AJCarter.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qq2dseri/ajcarter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>