<?xml version="1.0" encoding="utf-8"?>
<Media Key="02492bb3-49e1-497c-b8f9-0beda93844c8" Alias="Assurance &amp; Audits.svg" Level="2">
  <Info>
    <Parent Key="51eae2c2-6c17-4207-9a52-bb9672577f02">Services</Parent>
    <Path>/Services/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:36:34</CreateDate>
    <NodeName Default="Assurance &amp; Audits.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/igloxyh0/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>