<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e9f7416-9a08-4bdb-aa04-82b751935126" Alias="Brandon Kerr.svg" Level="2">
  <Info>
    <Parent Key="dbbf3f1e-9d01-47d9-b2ed-ba4fa65dd796">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T20:20:11</CreateDate>
    <NodeName Default="Brandon Kerr.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ted1hat/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>