<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ee6f7b6-19d6-45a9-b8ea-54b842e5f125" Alias="Brandon.svg" Level="2">
  <Info>
    <Parent Key="dbbf3f1e-9d01-47d9-b2ed-ba4fa65dd796">Team Members</Parent>
    <Path>/TeamMembers/Brandonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T20:20:11</CreateDate>
    <NodeName Default="Brandon.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/irfejhgn/brandon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>