<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e36603f-16c4-4dcb-9d67-dd2655f4fcdb" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:51</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxojjlg5/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>