<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8597fbd-c18d-4a9f-9832-e652e4ae5e09" Alias="ceo_signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ceo_signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="ceo_signature.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j5bpwkuw/ceo_signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>