<?xml version="1.0" encoding="utf-8"?>
<Media Key="df5448b2-b9c3-4a8c-b960-6c8c2ee3e3f0" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:53</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/id0pmpoy/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>