<?xml version="1.0" encoding="utf-8"?>
<Media Key="15716085-390c-4807-8cf3-0deee92ecc6f" Alias="Financial Advisor.svg" Level="2">
  <Info>
    <Parent Key="51eae2c2-6c17-4207-9a52-bb9672577f02">Services</Parent>
    <Path>/Services/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:36:34</CreateDate>
    <NodeName Default="Financial Advisor.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o5onh3yx/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>