<?xml version="1.0" encoding="utf-8"?>
<Media Key="a310a73f-222c-4d38-9ac8-b0f3571a7be0" Alias="hero_bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hero_bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T12:24:54</CreateDate>
    <NodeName Default="hero_bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zunleqjx/hero_bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>