<?xml version="1.0" encoding="utf-8"?>
<Media Key="725cb064-251c-442c-8365-7dcf202c101b" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T13:39:41</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sygp3eah/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>