<?xml version="1.0" encoding="utf-8"?>
<Media Key="12e425c2-a22b-4aaf-bcf3-233ed2a4b02e" Alias="Home-Hero.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:51</CreateDate>
    <NodeName Default="Home-Hero.svg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gcmen2bq/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>