<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdaef1e6-4636-4a75-b561-f7515005feb6" Alias="icon_fb.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/icon_fbsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:51</CreateDate>
    <NodeName Default="icon_fb.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/crgayxzn/icon_fb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>