<?xml version="1.0" encoding="utf-8"?>
<Media Key="00f5ca99-1e58-4166-9af9-8150f12ab2ec" Alias="icon_x.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/icon_xsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:51</CreateDate>
    <NodeName Default="icon_x.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nn1fpysd/icon_x.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>