<?xml version="1.0" encoding="utf-8"?>
<Media Key="2309b631-dec9-4eea-a1aa-b2a6428017df" Alias="image-24-min 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image24Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="image-24-min 1.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ymflxqos/image-24-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>