<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeef0750-300a-4b3b-b40e-8601d0e91431" Alias="image-18-min 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:51</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uk3e0dar/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>