<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dcbba0c-bec0-4890-91fc-f0c00352d455" Alias="image-22-min 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ydhtx41/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>