<?xml version="1.0" encoding="utf-8"?>
<Media Key="422223f4-e83e-45d3-98d9-fc01550580f3" Alias="image-13-min 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a0pibibf/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>