<?xml version="1.0" encoding="utf-8"?>
<Media Key="e07e61a9-04a2-4c99-bbf7-7f41554c5eb9" Alias="Mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:51</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lponyavz/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>