<?xml version="1.0" encoding="utf-8"?>
<Media Key="790f6812-a20c-400d-9ea2-0f06f0cf8ca2" Alias="Miranda Dayton.svg" Level="2">
  <Info>
    <Parent Key="dbbf3f1e-9d01-47d9-b2ed-ba4fa65dd796">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T20:20:11</CreateDate>
    <NodeName Default="Miranda Dayton.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2dkl1gyx/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>