<?xml version="1.0" encoding="utf-8"?>
<Media Key="86717524-c9cf-4af4-a612-60189954d274" Alias="pj1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/01engzgu/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>