<?xml version="1.0" encoding="utf-8"?>
<Media Key="dee99ab9-aeaf-4d38-b4da-3e41087358d4" Alias="pj2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jmtfwpfu/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>