<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f592de5-9563-4224-8cf4-661f9e5a3358" Alias="pj4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T16:19:52</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4ipxply/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>