<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e466250-eaa5-47e8-ac2d-99a79adde608" Alias="Risk Management.svg" Level="2">
  <Info>
    <Parent Key="51eae2c2-6c17-4207-9a52-bb9672577f02">Services</Parent>
    <Path>/Services/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:36:34</CreateDate>
    <NodeName Default="Risk Management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulppjtf4/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>