<?xml version="1.0" encoding="utf-8"?>
<Media Key="51eae2c2-6c17-4207-9a52-bb9672577f02" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-07T21:36:28</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties />
</Media>