<?xml version="1.0" encoding="utf-8"?>
<Media Key="3efdc235-e8f8-4094-b04f-32c4cba5b39e" Alias="Statistic Advisors.svg" Level="2">
  <Info>
    <Parent Key="51eae2c2-6c17-4207-9a52-bb9672577f02">Services</Parent>
    <Path>/Services/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:36:34</CreateDate>
    <NodeName Default="Statistic Advisors.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y35f5xhd/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>