<?xml version="1.0" encoding="utf-8"?>
<Media Key="24ac0f27-8e8d-4ea2-9fa8-efd3a0a95f36" Alias="Tax and Trusts.svg" Level="2">
  <Info>
    <Parent Key="51eae2c2-6c17-4207-9a52-bb9672577f02">Services</Parent>
    <Path>/Services/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-12-07T21:36:34</CreateDate>
    <NodeName Default="Tax and Trusts.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wza3ruw/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>