<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbbf3f1e-9d01-47d9-b2ed-ba4fa65dd796" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-07T20:17:02</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties />
</Media>