<?xml version="1.0" encoding="utf-8"?>
<Content Key="043fadaa-55af-46f4-ba7a-d0d73709d1d3" Alias="About" Level="2">
  <Info>
    <Parent Key="90848bf7-f886-4e29-9293-be120ce67903">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-16T19:46:54</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bef102bc-0409-49a0-8334-1864d8e0d29f">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "792e3e31-4b65-4b00-b341-774cceccfc60",
      "key": "0754c3f7-bff7-40ed-bb41-2bed27e62773",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLable",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "b199350d-5e05-4daa-be4f-0a75f3530016",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cae851fe-9f18-4c6d-aece-9f3a5aafbb87",
                        "mediaKey": "7ee6f7b6-19d6-45a9-b8ea-54b842e5f125",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "e4c76f3c-959f-488b-a0fa-bae84a3cef14",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5a4495c3-a89f-4e8e-ade7-e401054a4121",
                        "mediaKey": "f09b8476-5933-450b-b3c9-5b775f3d6c2d",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "8cba2973-16bd-48dd-8098-24eaa8b48a13",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "08eb2788-18a0-45d8-bf36-2dc5f2ddd3da",
                        "mediaKey": "f2149e94-c4d2-490a-ad1c-a1a0f2e444ed",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "ebd087cd-dbff-45b7-8639-a8bc073fa5d4",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3f40485c-3f7c-4585-bceb-620c07eea656",
                        "mediaKey": "853dfd49-d736-47c7-a548-28e1c4c5b4ab",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "3191123b-24d7-45fc-bd72-e0c501cfa9b5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "88f17717-720b-4973-a534-9fd6c4ab2dfc",
                        "mediaKey": "7e9f7416-9a08-4bdb-aa04-82b751935126",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "c0b25ae6-eea3-4858-8f33-0616c159b007",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bd1cf816-cf3c-47ca-be3d-b3962f65146e",
                        "mediaKey": "790f6812-a20c-400d-9ea2-0f06f0cf8ca2",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
                "key": "c8d0340f-ef5a-41e5-9111-1f9d3aecb134",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c33ff716-4f49-4948-a7f9-84726ec71ae8",
                        "mediaKey": "8b00d61c-8ec2-4c65-8e4f-286033ebbcb7",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b199350d-5e05-4daa-be4f-0a75f3530016",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e4c76f3c-959f-488b-a0fa-bae84a3cef14",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8cba2973-16bd-48dd-8098-24eaa8b48a13",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ebd087cd-dbff-45b7-8639-a8bc073fa5d4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3191123b-24d7-45fc-bd72-e0c501cfa9b5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c0b25ae6-eea3-4858-8f33-0616c159b007",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c8d0340f-ef5a-41e5-9111-1f9d3aecb134",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b199350d-5e05-4daa-be4f-0a75f3530016",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e4c76f3c-959f-488b-a0fa-bae84a3cef14",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8cba2973-16bd-48dd-8098-24eaa8b48a13",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ebd087cd-dbff-45b7-8639-a8bc073fa5d4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3191123b-24d7-45fc-bd72-e0c501cfa9b5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c0b25ae6-eea3-4858-8f33-0616c159b007",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c8d0340f-ef5a-41e5-9111-1f9d3aecb134",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0754c3f7-bff7-40ed-bb41-2bed27e62773",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0754c3f7-bff7-40ed-bb41-2bed27e62773",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>