<?xml version="1.0" encoding="utf-8"?>
<Content Key="043fadaa-55af-46f4-ba7a-d0d73709d1d3" Alias="About" Level="2">
  <Info>
    <Parent Key="90848bf7-f886-4e29-9293-be120ce67903">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-16T19:46:54</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bef102bc-0409-49a0-8334-1864d8e0d29f">AboutPage</Template>
  </Info>
  <Properties>
    <aboutLink>
      <Value><![CDATA[]]></Value>
    </aboutLink>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <section>
      <Value><![CDATA[]]></Value>
    </section>
  </Properties>
</Content>