<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d4d74a0-3526-47f6-a016-323a27d1b463" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="82356c5b-9a75-4b39-8737-7983238dd77a">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:39:08</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b97b3068-423d-41df-b079-2bcfd7822cc4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9a6cb3a6-38ef-4dfb-86fb-89957a470138",
    "mediaKey": "02492bb3-49e1-497c-b8f9-0beda93844c8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>