<?xml version="1.0" encoding="utf-8"?>
<Content Key="39974828-5a0f-48d3-900d-39d38904e40f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="90848bf7-f886-4e29-9293-be120ce67903">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-16T15:43:45</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2a429ff-92c2-4cef-828c-ae914c708acc">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>