<?xml version="1.0" encoding="utf-8"?>
<Content Key="a81138aa-c548-42e5-87f9-b1703b58be2d" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="82356c5b-9a75-4b39-8737-7983238dd77a">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:38:33</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b97b3068-423d-41df-b079-2bcfd7822cc4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "b62e0d16-42f0-4fca-a22b-c742f7ac01e2",
    "mediaKey": "15716085-390c-4807-8cf3-0deee92ecc6f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>