<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c79c802-498f-439a-8162-d0088927e913" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="82356c5b-9a75-4b39-8737-7983238dd77a">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:39:51</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b97b3068-423d-41df-b079-2bcfd7822cc4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "59c5f596-ba4c-48de-87f8-1a6594bb2909",
    "mediaKey": "2e466250-eaa5-47e8-ac2d-99a79adde608",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>