<?xml version="1.0" encoding="utf-8"?>
<Content Key="82356c5b-9a75-4b39-8737-7983238dd77a" Alias="Services" Level="2">
  <Info>
    <Parent Key="90848bf7-f886-4e29-9293-be120ce67903">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>pageService</ContentType>
    <CreateDate>2025-12-07T19:15:18</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e975dd7c-0443-4e26-ab32-9a412b4ca6cb">PageService</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "488b8cd8-d6ce-46ae-ab17-a04b3deebe3d",
      "key": "c5697f03-1e80-4f2b-86ae-fffd2100680b",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cdiv\u003E\u003C/div\u003E\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6fcd13ea-116e-4c8b-b5bb-b54e2d693bb3",
      "key": "b808f912-32e3-4c99-89b1-d3ac4eb2fdd2",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c5697f03-1e80-4f2b-86ae-fffd2100680b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c5697f03-1e80-4f2b-86ae-fffd2100680b",
        "contentUdi": null,
        "settingsKey": "b808f912-32e3-4c99-89b1-d3ac4eb2fdd2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>