<?xml version="1.0" encoding="utf-8"?>
<Content Key="f842fa6c-08ad-4371-8d81-d340e65c198e" Alias="Services" Level="2">
  <Info>
    <Parent Key="90848bf7-f886-4e29-9293-be120ce67903">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-16T19:47:18</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98e16b8b-5729-413d-ad24-6bd893c2f8cc">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <serviceTitle>
      <Value><![CDATA[]]></Value>
    </serviceTitle>
  </Properties>
</Content>