<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f99d4f7-82e1-4061-9b24-3057e2793e8d" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="82356c5b-9a75-4b39-8737-7983238dd77a">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:37:57</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b97b3068-423d-41df-b079-2bcfd7822cc4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "4b94b758-a542-4aa4-8c1f-7825764edf30",
    "mediaKey": "3efdc235-e8f8-4094-b04f-32c4cba5b39e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>