<?xml version="1.0" encoding="utf-8"?>
<Content Key="65274e47-d2d6-4226-864e-489e0d9a92d2" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="82356c5b-9a75-4b39-8737-7983238dd77a">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-12-07T21:38:48</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b97b3068-423d-41df-b079-2bcfd7822cc4">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "7120f672-cd70-4d94-9fad-2d7c22ee3296",
    "mediaKey": "24ac0f27-8e8d-4ea2-9fa8-efd3a0a95f36",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>