@import "tailwindcss";

@theme {
    --primary-color: #4F5955;
    --secondary-color: #4f5955;
    --link-color: #F2EDDC;
    --background-color: #ffffff;
    --background-secondary-color: #f7f7f7;
    --text-color: #4F5955;
    --text-alternative-color: #9C9EA6;
    --text-heading-color: #4f5955;
    --text-bronze-color: #d9c3a9;
    --text-bronze-color-1: #F2EDDC;
    --text-bronze-color-3: #D9C3A9;
    --border-color: #EAEAEA;
    --note-1: #9C9EA6;
    --width-container: 1200px;
    --font-poppins: "Poppins", sans-serif;
    
}

body {
    @apply font-poppins;
}

.rte h3 {
    @apply text-[2.5rem] font-bold;
}

