@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
    @{
        var content = (ContentModels.TeamSection)Model.Content;

    }





<section class="py-[4rem] bg-[var(--background-color)]">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-col items-center">
            <h2 class="text-[.875rem] text-[var(--text-bronze-color-3)] font-bold uppercase">@content.TeamLable</h2>
            <div class="rte">@Html.Raw(content.TeamTitle)</div>
        </div>
        @Html.GetBlockListHtml(content.TeamMemberList)
    </div>
</section>