<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53414a5b-f84e-4a1e-8de5-126921b86a9f" Alias="Onatrix Sections" Level="1">
  <Info>
    <Name>Onatrix Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "28617716-8c4f-4410-b71b-8dad8eb145b0"
    },
    {
      "contentElementTypeKey": "488b8cd8-d6ce-46ae-ab17-a04b3deebe3d",
      "settingsElementTypeKey": "6fcd13ea-116e-4c8b-b5bb-b54e2d693bb3"
    },
    {
      "contentElementTypeKey": "792e3e31-4b65-4b00-b341-774cceccfc60"
    }
  ]
}]]></Config>
</DataType>