<?xml version="1.0" encoding="utf-8"?>
<DataType Key="763ac599-f1f1-44af-9ddb-096a4c1f84f2" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "efc63f54-92b7-414a-9336-802bf946b00b",
      "label": "{umbVAlue: platformName}"
    }
  ]
}]]></Config>
</DataType>