<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bbe679e6-dea9-49a4-8f2b-adcb58aa4a47" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "858ae716-8c0c-439e-8c06-080a647e4527",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>