<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b09ed161-e703-4677-bfac-2d7ec24fae1a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3a69ed2-158f-4822-95df-4d1a9c39bf9d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0b3c5a48-98d5-4d8e-8c29-50ae44b1ed77" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="4d2109a3-c4d3-4949-ab31-342fe5d7fb33" SortOrder="1">contactPage</ContentType>
    <ContentType Key="f1083275-e1df-4a44-81f2-e15ba320eed9" SortOrder="2">pageService</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2339d8ca-1a08-4139-af8e-f095713811cc</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>53414a5b-f84e-4a1e-8de5-126921b86a9f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>37d9656c-6537-4f15-9f3b-82a8a46c3d97</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>